@model ProductViewModel

@{
    ViewData["Title"] = "Create";
}


<h1 class="my-3">Add New Product</h1>
<form method="post" asp-action="Create" enctype="multipart/form-data">
    <input asp-for="PictureUrl" hidden />
    <partial name="CreateEditPartialView" model="Model" />
    <br />
    <br /> 
    <div class="my-3">
        <input type="submit" value="Create" class="btn btn-primary " />
        <a asp-action="Index" class="btn btn-secondary "> Back To Index </a>
    </div>
</form>
<br />
<br />
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}