@model ProductViewModel

@{
    ViewData["Title"] = "Delete";
}


<h1 class="my-3">Delete @Model.Name </h1>
<form method="post" asp-action="Delete" enctype="multipart/form-data">
    <h4 class="text-danger my-3">Are You Sure Of Deleting This Product ? </h4>
    <input asp-for="Id" hidden />
    <div class="form-group">
        <label asp-for="Name" class="col-form-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="col-form-label"></label>
        <input asp-for="Description" class="form-control" />
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Price" class="col-form-label"></label>
        <input asp-for="Price" class="form-control" type="number" />
        <span asp-validation-for="Price" class="text-danger"></span>
    </div>
    <div class="my-3">
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-action="Index" class="btn btn-secondary"> Back To Index </a>
    </div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}