@model ProductViewModel

@{
    ViewData["Title"] = "Edit";
}


<h1 class="my-3">Edit @Model.Name </h1>
<form method="post" asp-action="Edit" enctype="multipart/form-data">
    <input asp-for="Id" hidden />
    <partial name="CreateEditPartialView" model="Model" />
    <br />
    <br />
    <div class="my-3">
        <input type="submit" value="Edit" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-secondary"> Back To Index </a>
    </div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}